<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.ibatis" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="java.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
<!--        &lt;!&ndash; 设置 Mybatis 的日志级别为 DEBUG &ndash;&gt;-->
<!--        <Logger name="org.mybatis" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
<!--        &lt;!&ndash; 设置 SQL 会话工厂的日志级别 &ndash;&gt;-->
<!--        <Logger name="java.sql.Connection" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
<!--        &lt;!&ndash; 设置 SQL 语句的日志级别 &ndash;&gt;-->
<!--        <Logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
<!--        &lt;!&ndash; 设置结果集的日志级别 &ndash;&gt;-->
<!--        <Logger name="java.sql.ResultSet" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
        <!-- 根日志记录器 -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>