<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--
        使用bean标签配置对象创建
            id属性：唯一标识
            class属性：类全路径（包类路径）
        注：创建对象时，默认执行无参构造方法
    -->
    <bean id="user" class="com.mi.entity.User"></bean>

    <!-- set方法注入属性 -->
    <bean id="book" class="com.mi.entity.Book">
        <!--
            使用property完成属性注入
                name：属性名称
                value：向属性注入的值
        -->
        <property name="name" value="百年孤独"></property>
        <property name="author" value="加夫列尔·加西亚·马尔克斯"></property>
        <!-- 给属性设置null值 -->
        <property name="address">
            <null />
        </property>
        <!--
            属性值包含特殊符号
                1、把<>进行转义：&lt;&gt;
                2、把带特殊符号内容写到CDATA
        -->
        <property name="content">
            <value><![CDATA[<<这是一本书>>]]></value>
        </property>
    </bean>

    <!-- 有参构造注入属性 -->
    <bean id="order" class="com.mi.entity.Order">
        <constructor-arg name="name" value="凯迪拉克ct5"></constructor-arg>
        <constructor-arg name="address" value="山东济南"></constructor-arg>
    </bean>

    <!-- p名称空间注入（本质还是通过set方法进行注入属性） -->
    <bean id="book2" class="com.mi.entity.Book2" p:name="麦琪的礼物" p:author="居伊·德·莫泊桑"></bean>

    <!-- 外部bean -->
    <bean id="userService" class="com.mi.service.UserService">
        <!--
            注入对象类型属性
                name属性值：类里面属性名称
                ref属性：要注入对象配置bean标签的id值
         -->
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="userDao" class="com.mi.dao.UserDaoImpl"></bean>

    <!-- 内部bean -->
    <bean id="emp" class="com.mi.entity.Emp">
        <!-- 设置基本类型属性 -->
        <property name="name" value="lucy"></property>
        <property name="gender" value="女"></property>
        <!-- 设置对象类型属性 -->
        <property name="dept">
            <bean id="dept" class="com.mi.entity.Dept">
                <property name="name" value="安保部"></property>
            </bean>
        </property>
    </bean>

    <!-- 级联赋值 -->
    <bean id="emp2" class="com.mi.entity.Emp2">
        <property name="name" value="tom"></property>
        <property name="gender" value="男"></property>
        <property name="dept" ref="dept"></property>
        <!-- 内部级联赋值（优先级高于外部级联赋值） -->
        <property name="dept.name" value="技术部"></property>
    </bean>
    <bean id="dept" class="com.mi.entity.Dept">
        <!-- 外部级联赋值 -->
        <property name="name" value="法务部"></property>
    </bean>

    <!-- 集合类型属性注入 -->
    <bean id="student" class="com.mi.entity.Student">
        <!-- 数组类型属性注入 -->
        <property name="courses">
            <array>
                <value>java</value>
                <value>redis</value>
            </array>
        </property>
        <!-- List类型属性注入 -->
        <property name="list">
            <list>
                <value>宋红康</value>
                <value>周阳</value>
            </list>
        </property>
        <!-- Map类型属性注入 -->
        <property name="map">
            <map>
                <entry key="java" value="宋红康"></entry>
                <entry key="redis" value="周阳"></entry>
            </map>
        </property>
        <!-- Set类型属性注入 -->
        <property name="set">
            <set>
                <value>java</value>
                <value>redis</value>
            </set>
        </property>
        <!-- List类型属性注入（泛型为对象类型） -->
        <property name="courseList">
            <list>
                <ref bean="course1"></ref>
                <ref bean="course2"></ref>
            </list>
        </property>
    </bean>

    <!-- 创建多个对象提供给List -->
    <bean id="course1" class="com.mi.entity.Course">
        <property name="name" value="spring"></property>
    </bean>
    <bean id="course2" class="com.mi.entity.Course">
        <property name="name" value="mybatis"></property>
    </bean>

    <!-- 提取List集合类型属性注入 -->
    <util:list id="bookList">
        <value>百年孤独</value>
        <value>悲惨世界</value>
    </util:list>

    <bean id="book3" class="com.mi.entity.Book3">
        <property name="list" ref="bookList"></property>
    </bean>

    <!-- 工厂Bean -->
    <bean id="customBean" class="com.mi.factorybean.CustomBean"></bean>

    <!-- 设置对象实例为多例模式 -->
    <bean id="book4" class="com.mi.entity.Book4" scope="prototype"></bean>

    <bean id="order2" class="com.mi.entity.Order2" init-method="initMethod" destroy-method="destroyMethod">
        <property name="name" value="手机"></property>
    </bean>

    <!-- 配置后置处理器 -->
    <bean id="beanPost" class="com.mi.factorybean.BeanPost"></bean>
</beans>