<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mi.mybatis.mapper.SelectMapper">


    <select id="getEmployeeById" resultType="com.mi.mybatis.entity.Employee">
        select * from t_employee where id = #{id}
    </select>

    <select id="getAllEmployee" resultType="com.mi.mybatis.entity.Employee">
        select * from t_employee
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from t_employee
    </select>

    <select id="getEmployeeByIdToMap" resultType="java.util.Map">
        select * from t_employee where id = #{id}
    </select>

    <select id="getAllUserToListOfMap" resultType="java.util.Map">
        select * from t_employee
    </select>

    <select id="getAllUserToMap" resultType="java.util.Map">
        select * from t_employee
    </select>

</mapper>